{% extends "layout.html" %}

{% block title %}History{% endblock%}
{% block username %}{{ username }}{% endblock%}

{% block main %}

<form action="/history" method="post">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="lead text-center mb-3"> Recent Purchases</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ticker Symbol</th>
                        <th>Shares</th>
                        <th>Total Price</th>
                        <th>Time Purchased</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.symbol }}</td>
                        <td>{{ row.shares }}</td>
                        <td>${{ row.price_purchased }}</td>
                        <td>{{ row.time_purchased }}</td>
                        {% if row.type == 0 %}
                        <td>Sold</td>
                        {% else %}
                        <td>Bought</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}