{% extends "layout.html" %}

{% block title %}Quotes{% endblock%}
{% block username %}{{ username }}{% endblock%}

{% block main %}

<form action="/sell" method="post">
    <div class="row mb-3 justify-content-center">
        <div class="col-md-2 mb-3">
            <select name="select-group" class="form-select" aria-label="Disabled select example">
                <option selected></option>
                {% for row in positions %}
                <option value="{{ row.symbol }}">{{ row.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <input class="form-control mx-auto w-100" name="shares" placeholder="Number of Shares" type="number">
        </div>
        <div class="col-md-2 mb-3">
            <button class="btn btn-outline-dark w-100" type="submit">Sell</button>
        </div>
    </div>

</form>
{% endblock %}